.header {
  display: flex;
  justify-content: flex-end;
  max-width: 57rem;
  margin: 0 auto;
}
.button {
  color: white;
  background-color: #81c9e9;
  border: 0;
  margin: 2rem 0;
  padding: 1rem;
  width: 10rem;
  border-radius: 10px;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
