.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.stat {
  width: 33.3%;
  min-width: 250px;
}
.title,
.value {
  width: 100%;
  text-align: center;
}

.charts {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.chart {
  padding: 1rem;
  width: 47.917%;
  min-width: 45%;
  height: 400px;
}

@media screen and (max-width: 66.8125rem) {
  .charts {
    flex-wrap: wrap;
  }
  .chart {
    width: 100%;
  }
}
