.button {
  display: block;
  color: white;
  background-color: #81c9e9;
  border: 0;
  margin: 2rem 0;
  padding: 0.625rem 1.375rem;
  width: 100%;
  border-radius: 9px;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  &:hover {
    box-shadow: 3px 3px 6px 0 rgba(129, 201, 233, 0.37);
    transition: box-shadow 150ms linear;
  }
}
