.button {
  display: block;
  color: white;
  background-color: #81c9e9;
  border: 0;
  margin: 2rem 0;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
