.navbar {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.navbarNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navbarNav li:last-child {
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 75, 122, 0.7);
}
.navItem {
  width: 100%;
}
.navLink {
  padding-left: 3.0625rem;
  display: flex;
  align-items: center;
  height: 4.25rem;
  color: var(--text-secondary);
  background-color: rgba(64, 75, 122, 0.7);
  text-decoration: none;
  transition: 350ms;
}

.navLink:hover,
.navLinkActive {
  background-color: rgba(255, 255, 255, 0);
  color: var(--text-primary);
  background-color: transparent;
}

.linkText {
  margin-left: 1.25rem;
  font-size: 1.375rem;
}

.languageDropdown {
  padding: 0rem 1rem 7rem 1rem;
  background-color: rgba(64, 75, 122, 0.7);
}
.languageDropdown select {
  width: 100%;
  font-size: 1.25rem;
  border: 0px;
  border-radius: 5px;
  outline: none;
  background-color: #2b3252;
  color: var(--text-primary);
  padding: 5px 10px;
}

.socialMediaLinks {
  padding: 2.5rem 1rem 1.875rem 1rem;
  display: flex;
  justify-content: space-between;
  a {
    line-height: 0;
  }
}

/* Small screens */
@media only screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 330px;
    left: -350px;
    transition: 0.4s ease-in-out;
  }
  .navbarOpen {
    left: 0;
  }
  .navbar,
  .languageDropdown,
  .navbarNav {
    background-color: #8b9edc;
  }
  .navbarNav li:last-child {
    background-color: #8b9edc;
  }
  .navLink {
    background-color: #8b9edc;
  }
  .logo {
    padding-top: 30px;
  }
  .logoImg {
    position: relative;
    left: 19px;
  }
  .close {
    opacity: 0.5;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
  }
}

/* Large screens */
@media only screen and (min-width: 769px) {
  .navbar {
    position: fixed;
    top: 0;
    width: var(--navbar-width);
    height: 100vh;
    justify-content: flex-start;
  }
  .navbarNav {
    align-items: center;
  }
  .logo {
    position: absolute;
    background-color: rgba(64, 75, 122, 0.7);
    height: 9.5rem;
    width: var(--navbar-width);
  }
  .logoImg {
    padding: 2rem 0 1.5rem 0;
    width: 21.25rem;
  }
}
