.stakingContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.stakingSection {
  width: 100%;
  padding: 0 1.5rem;
}
.boostLabel {
  display: block;
  background-color: #81c9e9;
  width: 5rem;
  padding: 0.1rem 0 0.25rem 0.7rem;
  font-weight: bold;
  border-radius: 0 0 5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
.productInfo {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
