.swapContainer {
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
}
.input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.token {
  width: 50%;
}
.formInput {
  width: 100%;
}
