.container {
  max-width: 55rem;
  min-width: 250px;
  margin: 3.875rem auto;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
}
.spinner {
  margin: 0 auto;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b0b3ff;
  height: 15vh;
  width: calc(100% - var(--navbar-width));
  bottom: 0;
  margin-left: var(--navbar-width);
  position: absolute;
  bottom: 0;
}
.banner {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .footer {
    margin-left: 0;
    width: 100%;
  }
}
