@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  --text-primary: #ffffff;
  --text-secondary: #ececec;
  --bg-primary: #6667ab;
  --bg-secondary: #404b7a;
  /* globally set navbar width */
  --navbar-width: 20rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ececec;
  padding: 0;
  margin: 0;
  /* prevent selecting */
  /* user-select: none; */
}
body::before {
  content: "";
  background-image: linear-gradient(
      rgba(176, 179, 255, 0.4),
      rgba(176, 179, 255, 0.4)
    ),
    url("../assets/bg.webp");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
}
* {
  box-sizing: border-box;
}
main {
  margin-left: var(--navbar-width);
  padding: 0 2rem;
  overflow: hidden;
  height: 100%;
}
header {
  padding: 0 2rem;
  margin-left: var(--navbar-width);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  main,
  header {
    margin: 0;
  }
}
.glass {
  background: #454e80;
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 3px solid #81c9e9;
}
