@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  --text-primary: #ffffff;
  --text-secondary: #ececec;
  --bg-primary: #6667ab;
  --bg-secondary: #404b7a;
  /* globally set navbar width */
  --navbar-width: 20rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  color: #ececec;
  padding: 0;
  margin: 0;
  height: 100%;
  /* max-width: 2000px;
  margin: 0 auto; */
  /* prevent selecting */
  /* user-select: none; */
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
body::before {
  content: "";
  background-image: url("/assets/bg.webp");
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -100;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
* {
  box-sizing: border-box;
}
main {
  margin-left: var(--navbar-width);
  padding: 0 2rem;
  overflow: hidden;
  padding-bottom: 15vh;
  height: 100%;
}
header {
  padding: 0 2rem;
  margin-left: var(--navbar-width);
}

/* Small screens */
@media screen and (max-width: 768px) {
  main,
  header {
    margin: 0;
  }
  main {
    padding-bottom: 20vh;
  }
}
.glass {
  background: rgba(64, 75, 122, 0.7);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 3px solid #81c9e9;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.accordion {
  cursor: pointer;
}

[hidden] {
  display: none;
}

.accordion__panel {
  animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#__next {
  position: relative;
  min-height: 100vh;
}
